<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>主页</title>
  <link rel="stylesheet" href="css/blog.css">
</head>
<body>
  <div class="bolog-new">
    <label for="">
      博文标题：
      <input type="text" id="id-input-title">
    </label>
    <br>
    <label for="">
      博文作者：
      <input type="text" id="id-input-author">
    </label>
    <br>
    <label for="">
      博文内容：
      <textarea id="id-input-content"></textarea>
    </label>
    <br>
    <button id="id-button-submit">发表新博文</button>
  </div>

  <div class="gua-blogs">

  </div>
  <script src="js/blogMain.js" charset="utf-8"></script>
</body>
</html>
